.cover-photo{
    background-image: url("../../../public/images/20190822_134728.jpg");
}
.slick-prev {
    left: -15px !important;
    z-index: 1;
    background: none !important;
    color: black !important;
}
.slick-next {
    right: -15px !important;
    z-index: 1;
    background: none !important;
    color: black !important;
}
